/* CSS CLASS */
$white: #ffffff;
$black: #333333;
$grey: #7d7d7d;
$blue: #4a90e2;
/* END CSS CLASS */

/* CSS CLASS */
$login-card-bg: $white;
$login-heading-color: $grey;
$link-color: $blue;
/* END CSS CLASS */
