@import "../../../../mat-theme.scss";
@import "../../../../assets/scss/theme";

:host{
  position: absolute;
  height: 100%;
  overflow: auto;
  background-color: mat-color($dark-primary);
  overflow-x: hidden;
}

.list-group-item{
  width: 100%;
  height: 60px;
  min-width: 56px;
}

[mat-raised-button]{
  background-color: transparent;
}

[mat-raised-button] > .mat-button-ripple{
  background-color: transparent;
}


[mat-raised-button].list-group-item{
  box-shadow: none;
}

[mat-raised-button].list-group-item:not([disabled]):active:not([class*=mat-elevation-z]){
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
}

[mat-raised-button].user-btn{
  box-shadow: none;
  width: 100%;
  height: 56px;
  min-width: 56px;
  padding: 5px;
}

[mat-fab].expand-reduce-btn{
  position: relative;
  width: 24px;
  height: 24px;
  min-width: 24px;
  float: right;
  margin-right: 16px;
}

[mat-fab].expand-reduce-btn.reduced{
  margin-top: 16px;
}

[mat-tooltip].menu-tooltip{
  background-color: mat-color($dark-primary);
}
