@import "../../../mat-theme.scss";
@import "../../../assets/scss/theme";

:host{
  position: relative;
  display: block;
  height: 100%;
  background-color: mat-color($dark-primary);
}

.subscribe-card{
  height: 300px;
  min-width: 250px;
  max-width: 350px;
  position: relative;
  display: block;
  border-radius: 8px;
}
