<div class="container-fluid">

  <mat-card class="login-card v-centered h-centered">

    <h1 class="login-heading">{{headingTxt}}</h1>

    <div [ngSwitch]="wannaSubscribe">
      <div *ngSwitchCase="true">

        <form [formGroup]="subscriptionForm" novalidate>

          <label class="font-delius fs-14 black-font m-l-4">Surnom Lounsy</label>

          <input matInput class="user-input" [type]="'text'"  formControlName="username">

          <label class="font-delius fs-14 black-font m-l-4">Adresse e-mail</label>

          <input matInput class="user-input" [type]="'text'" formControlName="email">

          <label class="font-delius fs-14 black-font m-l-4">Téléphone</label>

          <input matInput class="user-input" [type]="'text'" formControlName="phone">

          <label class="font-delius fs-14 black-font m-l-4">Mot de passe</label>

          <input matInput class="user-input" [type]="hidePass ? 'password' : 'text'" formControlName="password">

          <div class="rel w-100-pct m-t-12">

            <button mat-fab [color]="'primary'" type="submit" class="login-btn" (click)="subscribe()">
              <mat-icon>check</mat-icon>
            </button>

          </div>

        </form>

      </div>
      <div *ngSwitchDefault>

        <form [formGroup]="loginForm" novalidate>

          <label class="font-delius fs-14 black-font m-l-4">Identifiants</label>

          <input matInput class="user-input" [type]="'text'"  formControlName="usernameMobileMail">

          <label class="font-delius fs-14 black-font m-l-4">Mot de passe</label>

          <input matInput class="pass-input" [type]="hidePass ? 'password' : 'text'" formControlName="password">

          <p class="subscribe-heading">Pas de compte ?
            <a class="subscribe-link" [routerLink]="['/signup']">S'inscrire</a>
          </p>

          <div class="rel w-100-pct m-t-12">

            <button mat-fab [color]="'primary'" type="submit" class="login-btn" (click)="login()">
              <mat-icon>check</mat-icon>
            </button>

          </div>

        </form>

      </div>

    </div>

  </mat-card>

</div>
