<div class="container-fluid">

  <mat-card class="login-card v-centered h-centered">

    <h1 class="login-heading">{{headingTxt}}</h1>

    <div [ngSwitch]="wannaSubscribe" class="rel w-100-pct">
      <div *ngSwitchCase="true" class="rel w-100-pct">

        <form [formGroup]="subscriptionForm">

          <label class="label-font" for="username"
                 [ngClass]="{'color-red-imp squeeze-animation': formValidated &&
                 !(subscriptionForm.controls['username'].valid)}">
            Surnom Lounsy
          </label>

          <input class="form-control input-font focus" id="username"
                 [type]="'text'"  formControlName="username" />

          <label class="label-font" for="email"
                 [ngClass]="{'color-red-imp squeeze-animation': formValidated &&
                 !(subscriptionForm.controls['email'].valid)}">
            Adresse e-mail
          </label>

          <input class="form-control input-font" id="email"
                 [type]="'text'" formControlName="email" />

          <label class="label-font" for="phone"
                 [ngClass]="{'color-red-imp squeeze-animation': formValidated &&
                 !(subscriptionForm.controls['phone'].valid)}">
            Téléphone
          </label>

          <input class="form-control input-font" id="phone"
                 [type]="'text'" formControlName="phone" />

          <label class="label-font" for="password"
                 [ngClass]="{'color-red-imp squeeze-animation': formValidated && !(subscriptionForm.controls['password'].valid)}">
            Mot de passe
          </label>

          <input class="form-control input-font" id="password"
                 [type]="hidePass ? 'password' : 'text'" formControlName="password" />

          <div class="rel w-100-pct m-t-12">

            <button mat-fab [color]="'primary'" type="submit" class="login-btn" (click)="subscribe()">
              <mat-icon>check</mat-icon>
            </button>

          </div>

        </form>

      </div>
      <div *ngSwitchDefault class="rel w-100-pct">

        <form [formGroup]="loginForm" novalidate>

          <label class="label-font" for="usr">Identifiants</label>

          <input class="form-control input-font focus" id="usr" [type]="'text'"  formControlName="usernameMobileMail" />

          <label class="label-font" for="pwd">Mot de passe</label>

          <input class="form-control input-font" id="pwd" [type]="hidePass ? 'password' : 'text'" formControlName="password" />

          <p class="signup-link">Pas de compte ?
            <a class="color-blue hand" [routerLink]="['/signup']">S'inscrire</a>
          </p>

          <div class="rel w-100-pct m-t-12">

            <button mat-fab [color]="'primary'" type="submit" class="login-btn" (click)="login()">
              <mat-icon>chevron_right</mat-icon>
            </button>

          </div>

        </form>

      </div>

    </div>

  </mat-card>

</div>
