<mat-sidenav-container class="sidenav-container"
                       [ngClass]="{'reduced': reduce && opened, 'expanded': !reduce && opened}">

  <mat-sidenav class="w-transition" [mode]="sideMode" [opened]="opened" #sidenav [style.min-width.px]="56"
               [ngClass]="{'w-56': reduce, 'w-235': !reduce, 'w-0': !opened}">

    <lbt-sidenav class="w-100-pct" [style.min-width.px]="56"
                 (toggleEmitter)="sidenav.toggle();opened=!opened"></lbt-sidenav>

  </mat-sidenav>

  <div class="display-f f-dir-col h-100-pct w-100-pct abs">

    <div class="f-0-0 w-100-pct rel h-58">
      <lbt-header (toggleEmitter)="sidenav.toggle();opened=!opened"></lbt-header>
    </div>

    <div class="display-f flex-auto h-100-pct min-h-0 rel ovf-auto p-16-20">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-sidenav-container>
